.button {
  padding: 11px 44px;
  .font(@Oswald; normal; 400);
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background: @basic_green;
  border: none;

  @media (min-width: @tablet-width) {
    padding: 14px 26px;
    font-size: 20px;
    line-height: 20px;
  }
}
