.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright__link {
  .arial(@Arial; normal; 400);
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: @special_dark-grey;
}

.copyright__icon {
  fill: @special_grey;
}
