.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    justify-content: flex-end;
  }
}

.copyright__link {
  .font(@Arial; normal; 400);
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: @special_dark-grey;

  @media (min-width: @tablet-width) {
    padding: 0 23px 5px 0;
  }
}

.copyright__icon {
  fill: @special_grey;
}
