.form {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: min-content;
  width: 100%;
  min-width: 320px;

  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.form__fieldset {
  grid-column-start: 1;
  grid-column-end: -1;
  min-width: 280px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  border: none;
}

.form__fieldset--pet,
.form__fieldset--radio {
  padding: 29px 20px 11px;
  border: none;
  border-bottom: 1px solid @special_gainsboro;
}

.form__fieldset--pet {
  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    padding: 29px 68px 53px 71px;
    border-bottom: none;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 79%;
    padding: 27px 0 0 0;
    margin: 0 0 20px 110px;
  }
}

.form__fieldset--radio {
  @media (min-width: @tablet-width) {
    width: calc(100% - 234px);
    margin: 0 auto 52px;
    padding: 30px 47px 13px 47px;
    border: 1px solid @special_gainsboro;
  }

  @media (min-width: @desktop-width) {
    width: 79%;
    height: 198px;
    padding: 0;
    margin: 29px 110px 35px 0;
    flex-direction: column;
    grid-column-start: 2;
    grid-column-end: -1;
    justify-content: center;
    justify-self: self-end;
    align-self: center;
  }
}

.form__fieldset--line {
  position: relative;
  border-top: 2px solid @basic_green;
  margin: 44px 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
    margin: 54px 0 15px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 7px;
  }
}

.form__fieldset--line:nth-last-of-type(2) {
  margin-top: 9px;

  @media (min-width: @tablet-width) {
    margin-top: 26px;
  }
}

.form__fieldset--line:last-of-type {
  margin: 19px 0 0;

  @media (min-width: @tablet-width) {
    margin-top: 60px;
  }
}

.form__wrapper {
  min-width: 280px;
  margin: 44px 0 0;
  padding: 0 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    width: calc(100% - 75px);
    max-width: 1220px;
    margin: 54px 0 35px;
    padding: 16px 35px 0 40px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 28px 0 5px 0;
    margin: 54px 82px 35px;
  }
}

.form__fieldset--row,
.form__wrapper--row {
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 1 auto;
  justify-content: space-between;
  align-items: center;
}

.form__wrapper--comment {
  @media (min-width: @tablet-width) {
    margin-bottom: 13px;
    padding-top: 30px;
  }
}

.form__wrapper--personal {
  margin-top: 67px;

  @media (min-width: @desktop-width) {
    margin-top: 54px;
  }
}

.form__wrapper--checkbox {
  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 1 auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 43px;
  }
}

.form__label {
  display: block;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;

  &--radio:not(:first-of-type) {
    margin-top: 10px;
  }

  &--radio:last-of-type {
    margin-bottom: 13px;
  }

  &--pet {
    padding-bottom: 15px;
  }

  &--checkbox:first-of-type {
    margin-top: 2px;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__label--personal {
  width: 100%;
  position: relative;

  @media (min-width: @desktop-width) {
    width: 47%;
  }
}

.form__label--radio {
  margin: 0 0 15px 45px;
  position: relative;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    margin: 0 0 13px 43px;
  }

  @media (min-width: @desktop-width) {
    margin: 15px 0 14px 86px;
  }
}

.form__label--radio:first-of-type {
  @media (min-width: @desktop-width) {
    margin-top: 8px;
  }
}

.form__label--checkbox {
  margin: 0 0 25px 45px;
  position: relative;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    width: 36%;
    margin: 0 0 43px 60px;
  }

  @media (min-width: @desktop-width) {
    width: 15%;
    margin-left: 56px;
  }
}

.form__label--textarea {
  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.form__item {
  width: auto;
  margin: 0 0 13px 0;
  padding: 13px 10px 13px 14px;
  .font(@Oswald; normal; 400);
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  text-transform: uppercase;
  border: 1px solid @special_border;
  box-sizing: border-box;
  color: @special_dark-grey;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 20px 0;
    padding: 10px 10px 10px 18px;
  }

  &::placeholder {
    color: @special_dark-grey;
  }
}

.form__item--name {
  width: calc(100% - 52px);

  @media (min-width: @tablet-width) {
    width: calc(100% - 63px);
  }
}

.form__item--weight {
  width: calc(100% - 77px);

  @media (min-width: @tablet-width) {
    width: calc(100% - 94px);
  }
}

.form__item--age {
  width: calc(100% - 109px);

  @media (min-width: @tablet-width) {
    width: calc(100% - 134px);
  }
}

.form__item--personal {
  margin: 0 0 12px 5px;
  padding: 13px 10px 14px 14px;

  @media (min-width: @tablet-width) {
    margin: 0 0 16px 14px;
    padding: 11px 10px 12px 18px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 19px 14px;
    padding: 11px 10px 12px 15px;
  }

  &:hover {
    border: 1px solid @special_light-grey;
  }

  &:focus,
  &:active {
    outline: 2px solid @special_dark-grey;
  }
}

.form__item--error {
  border: 2px solid @status_error;
  outline: 2px solid @status_error;

  & + .form__icon--email {
    stroke: @status_error;
  }

  & + .form__icon--phone {
    fill: @status_error;
  }
}


.form__item--email {
  width: calc(100% - 61px);

  @media (min-width: @tablet-width) {
    width: calc(100% - 81px);
  }

  @media (min-width: @desktop-width) {
    width: calc(100% - 85px);
  }
}

.form__item--phone {
  width: calc(100% - 77px);

  @media (min-width: @tablet-width) {
    width: calc(100% - 102px);
  }

  @media (min-width: @desktop-width) {
    width: calc(100% - 105px);
  }
}

.form__item--comment {
  width: 100%;
  margin: 0;
  padding: 9px 5px 16px 14px;

  @media (min-width: @tablet-width) {
    height: 174px;
    padding-left: 17px;
  }
}

.form__icon {
  position: absolute;
  top: 15px;
  right: 15px;

  @media (min-width: @tablet-width) {
    top: 19px;
    right: 19px;
  }

  @media (min-width: @desktop-width) {
    right: 23px;
  }
}

.form__icon--email {
  stroke: @special_nero;
  fill: none;
}

.form__icon--phone {
  top: 15px;
  right: 14px;
  fill: @special_nero;

  @media (min-width: @tablet-width) {
    right: 19px;
  }
}

.form__item--email:focus + .form__icon--email,
.form__icon--email:focus {
  stroke: @basic_green;
}

.form__item--phone:focus + .form__icon--phone,
.form__icon--phone:focus {
  fill: @basic_green;
}

.form__input--radio + .form__label--radio::before {
  content: "";
  position: absolute;
  left: -47px;
  top: -8px;
  width: 30px;
  height: 30px;
  border: 1px solid @special_light-grey;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    left: -61px;
    top: -5px;
    width: 40px;
    height: 40px;
  }

  @media (min-width: @desktop-width) {
    left: -60px;
    top: -8px;
  }
}

.form__input--radio:checked + .form__label--radio::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -37px;
  width: 13px;
  height: 13px;
  background-color: @basic_green;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    left: -49px;
    top: 7px;
    width: 18px;
    height: 18px;
  }

  @media (min-width: @desktop-width) {
    left: -48px;
    top: 4px;
  }
}

.form__item--checkbox + .form__label--checkbox::before {
  content: "";
  position: absolute;
  left: -45px;
  top: -5px;
  width: 30px;
  height: 30px;
  border: 1px solid @special_light-grey;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    left: -61px;
    top: -5px;
    width: 40px;
    height: 40px;
  }
}

.form__item--checkbox:checked + .form__label--checkbox::after {
  content: "";
  position: absolute;
  left: -39px;
  top: 3px;
  width: 18px;
  height: 14px;
  background-image: url("../../img/form/checkbox_active.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-width: @tablet-width) {
    left: -50px;
    top: 9px;
  }
}

.form__input--radio:hover + .form__label--radio::before,
.form__input--radio:focus + .form__label--radio::before,
.form__item--checkbox:hover + .form__label--checkbox::before,
.form__item--checkbox:focus + .form__label--checkbox::before {
  border: 1px solid @special_silver;
}

.form__input--radio:disabled + .form__label--radio,
.form__item--checkbox:disabled + .form__label--checkbox {
  opacity: 0.3;
}

.form__input--radio:disabled + .form__label--radio::before,
.form__item--checkbox:disabled + .form__label--checkbox::before {
  border: 1px solid @special_silver;
}

.form__subtitle {
  position: absolute;
  margin: 0;
  padding: 0 20px;
  .font(@Oswald; normal; 400);
  font-size: 24px;
  line-height: 26px;
  color: @basic_black;
  top: -0.8em;
  background: @basic_white;

  @media (min-width: @tablet-width) {
    width: 27%;
    padding: 0 11px 0 39px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 40px;
    width: 15%;
  }
}

.form__subtitle--personal {
  width: 59%;
  padding-right: 11px;

  @media (min-width: @tablet-width) {
    width: 71%;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 7px;
    width: 38%;
  }
}

.form__subtitle--comment {
  @media (min-width: @desktop-width) {
    padding-bottom: 20px;
  }
}

.form__subtitle--checkbox {
  @media (min-width: @tablet-width) {
    width: 31%;
  }

  @media (min-width: @desktop-width) {
    width: 17%;
  }
}

.form__button {
  width: 87%;
  margin: 15px auto 20px;
  color: @basic_white;
  grid-column-start: 1;
  grid-column-end: -1;

  @media (min-width: @tablet-width) {
    width: 74%;
    margin: 6px 20px 18px 70px;
    padding: 16px 26px;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  @media (min-width: @desktop-width) {
    width: 79%;
    margin: 8px 20px 28px 110px;
  }
}

.form__required-fields {
  grid-column-start: 1;
  grid-column-end: -1;
  margin-bottom: 31px;
  align-self: center;
  justify-self: center;
  .font(@Arial; normal; 400);
  font-size: 14px;
  line-height: 16px;
  color: @basic_black;

  @media (min-width: @tablet-width) {
    margin-bottom: 17px;
    margin-left: 30px;
    font-size: 16px;
    line-height: 16px;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: start;
  }

  @media (min-width: @desktop-width) {
    margin-left: 40px;
    margin-bottom: 23px;
  }
}
