.main-nav {
  margin: 0;
  padding: 0;
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 62%;
    max-width: 1220px;
    display: flex;
  }

  @media (min-width: @desktop-width) {
    width: 50%;
  }
}

.main-nav__toggle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  box-sizing: content-box;
  top: 16px;
  right: 20px;
  width: 24px;
  height: 24px;
  padding: 5px 0;
  cursor: pointer;
  border: none;
  background: 0 0;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__span {
  @media (max-width: @mobile-width-only) {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 1.5px;
    vertical-align: bottom;
    margin: 8px 0;
    background: @basic_black;
  }
}

.main-nav--closed .main-nav__span::before,
.main-nav--closed .main-nav__span::after {
  @media (max-width: @mobile-width-only) {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1.5px;
    background: @basic_black;
  }
}

.main-nav--closed .main-nav__span::before {
  @media (max-width: @mobile-width-only) {
    top: 8px;
  }
}

.main-nav--closed .main-nav__span::after {
  @media (max-width: @mobile-width-only) {
    top: -8px;
  }
}

.main-nav--closed .main-nav__list {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}

.main-nav--opened {
  @media (max-width: @mobile-width-only) {
    display: block;
  }
}

.main-nav--opened .main-nav__span::before,
.main-nav--opened .main-nav__span::after {
  @media (max-width: @mobile-width-only) {
    content: "";
    position: absolute;
    top: 14px;
    right: 0;
    width: 24px;
    height: 1.5px;
    background-color: @basic_black;
  }
}

.main-nav--opened .main-nav__span::before {
  @media (max-width: @mobile-width-only) {
    transform: rotate(45deg);
  }
}

.main-nav--opened .main-nav__span::after {
  @media (max-width: @mobile-width-only) {
    transform: rotate(-45deg);
  }
}

.main-nav--opened .main-nav__span:active::before,
.main-nav--opened .main-nav__span:active::after {
  @media (max-width: @mobile-width-only) {
    background-color: fade(@basic_black, 30%);
  }
}

.main-nav--nojs .main-nav__toggle {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}

.main-nav--nojs .main-nav__list {
  @media (max-width: @mobile-width-only) {
    display: block;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    justify-content: flex-end;
  }
}

.main-nav__item {
  @media (min-width: @tablet-width) {
    width: auto;
  }

  @media (min-width: @desktop-width) {
    margin-left: 35px;
  }
}

.main-nav__item:first-of-type {
  @media (min-width: @desktop-width) {
    margin-left: 0;
  }
}

.main-nav__item--active {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: @basic_green;
  }
}

.main-nav__item--active .main-nav__link--change-color {
  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: @basic_green;

    @media (min-width: @desktop-width) {
      background-color: @basic_white;
      bottom: 2px;
    }
  }
}

.main-nav__link {
  display: block;
  padding-top: 22px;
  padding-bottom: 22px;
  text-align: center;
  .font(@Oswald; normal; 500);
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: @basic_black;
  border-bottom: 1px solid @special_line;

  @media (min-width: @tablet-width) {
    padding-top: 19px;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    border-bottom: none;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.main-nav__link:hover,
.main-nav__link:focus {
  color: fade(@basic_black, 60%);
}

.main-nav__link:active {
  color: fade(@basic_black, 30%);
}

.main-nav__link--change-color {
  @media (min-width: @desktop-width) {
    color: @basic_white;
  }
}

.main-nav__link--change-color:hover,
.main-nav__link--change-color:focus {
  @media (min-width: @desktop-width) {
    color: fade(@basic_white, 60%);
  }
}

.main-nav__link--change-color:active {
  @media (min-width: @desktop-width) {
    color: fade(@basic_white, 30%);
  }
}

.main-nav__link:first-of-type {
  border-top: 1px solid @special_line;

  @media (min-width: @tablet-width) {
    border-top: none;
  }
}
