.map {
  background-image: url("../../img/map-mobile.png");
  background-position: 0 center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: @tablet-width) {
    background-image: url("../../img/map-tablet.png");
  }

  @media (min-width: @desktop-width) {
    background-image: url("../../img/map-desktop.png");
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/map-mobile@2x.png");
    background-position: 0 center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: @tablet-width) {
      background-image: url("../../img/map-tablet@2x.png");
    }

    @media (min-width: @desktop-width) {
      background-image: url("../../img/map-desktop@2x.png");
    }
  }
}

.map__iframe {
  width: 100%;
  min-width: 320px;
  height: 362px;
  border: none;
  background: @special_smoke-grey;

  @media (min-width: @tablet-width) {
    height: 400px;
  }
}
