.map__iframe {
  width: 100%;
  min-width: 320px;
  height: 362px;
  border: none;
  background: @special_smoke-grey;
  display: none;

  &--show {
    display: block;
  }

  @media (min-width: @tablet-width) {
    height: 400px;
  }
}

.map__img {
  width: 100%;
  display: block;
  height: 362px;
  background: @special_smoke-grey;

  &--hide {
    display: none;
  }

  @media @tablet-widths {
    height: 400px;
  }
}
