.page-footer {
  min-height: 236px;
}

.page-footer--theme {
  background: @special_smoke-grey;
}

.page-footer__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.page-footer__logo {
  margin: 0;
  padding: 33px 0 31px 76px;
  border-bottom: 1px solid @special_gainsboro;
}

.page-footer__social {
  margin: 0;
  padding: 19px 0 16px 0;
  border-bottom: 1px solid @special_gainsboro;
}

.page-footer__copyright {
  margin: 0;
  padding: 21px 0 28px 0;
}
