.page-main {
  &--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.page-main__title {
  margin: 27px 19px;
  padding: 0;
  .font(@Oswald; normal; 400);
  font-size: 36px;
  line-height: 36px;
  color: @basic_black;

  @media (min-width: @tablet-width) {
    margin: 41px 69px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    margin: 26px 110px;
  }
}
