.page-footer {
  min-height: 236px;
  background: @special_smoke-grey;

  @media (min-width: @tablet-width) {
    min-height: 150px;
  }
}

.page-footer__wrapper {
  width: calc(100% - 80px);
  min-width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    width: calc(100% - 60px);
    max-width: 1220px;
    min-height: 150px;
    padding: 0 30px;
    display: grid;
    grid-template-columns: 40% 1fr 1fr;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    width: calc(100% - 60px);
    padding: 0 110px;
    grid-template-columns: 44% 1fr 1fr;
  }
}

.page-footer__logo {
  margin: 0;
  padding: 38px 0 31px 0;
  border-bottom: 1px solid @special_gainsboro;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: @tablet-width) {
    padding: 20px 0 24px 0;
    border-bottom: none;
  }

  @media (min-width: @desktop-width) {
    padding-top: 20px;
  }
}

.page-footer__logo .logo__image-text {
  width: 128px;
}

.page-footer__social {
  margin: 0;
  padding: 19px 60px 16px 58px;
  border-bottom: 1px solid @special_gainsboro;

  @media (min-width: @tablet-width) {
    padding: 6px 0 8px 0;
    border-bottom: none;
  }

  @media (min-width: @desktop-width) {
    padding: 6px 0 0 0;
  }
}

.page-footer__copyright {
  margin: 0;
  padding: 21px 0 28px 0;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: @tablet-width) {
    padding: 0 0 6px;
    border-bottom: none;
  }

  @media (min-width: @desktop-width) {
    padding: 28px 0;
  }
}
