.page-header {
  max-height: 264px;
}

.page-header__wrapper {
  width: 78%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid @special_gainsboro;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 92%;
    max-width: 1220px;
    border-bottom: none;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.page-header__logo {
  height: 65px;
  padding: 0 0 0 20px;

  @media (min-width: @tablet-width) {
    height: 100px;
  }

  @media (min-width: @desktop-width) {
    height: 160px;
  }
}

.page-header__logo .logo__image-text {
  width: 101px;
}
