.programs {
  min-height: 550px;

  @media (min-width: @desktop-width) {
    min-height: 418px;
  }
}

.programs__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
    width: calc(100% - 60px);
    max-width: 1220px;
    border-bottom: none;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding: 0 110px;
  }
}

.programs__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.programs__item {
  min-height: 266px;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 46px 47px;
  }

  @media (min-width: @desktop-width) {
    width: calc((100% - 280px) / 2);
    padding: 54px 50px;
    margin-bottom: 30px;
    justify-content: space-between;
  }
}

.programs__item:not(:last-of-type) {
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
  }
}

.programs__item--slim {
  background-color: @basic_grey;
  background-image: url("../../img/index/cat_slim.svg");
  background-position: 10% 10%;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    background-position: 88% 50%;
    background-size: 200px 211px;
  }

  @media (min-width: @desktop-width) {
    background-position: 11% 15%;
    background-size: 100px 106px;
  }
}

.programs__item--pro {
  background-color: @basic_grey;
  background-image: url("../../img/index/cat_pro.svg");
  background-position: 6% 11%;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    background-position: 93% 52%;
    background-size: 268px 200px;
  }

  @media (min-width: @desktop-width) {
    background-position: 7% 17%;
    background-size: 134px 100px;
  }
}

.programs__item--pro .programs__title {
  margin-left: 38px;

  @media (min-width: @tablet-width) {
    margin-left: 5px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 64px;
  }
}

.programs__item--pro .programs__description {
  @media (min-width: @tablet-width) {
    width: 56%;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.programs__title {
  margin: 31px 0 30px 10px;
  .font(@Oswald; normal; 400);
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  text-align: center;
  color: @basic_black;

  @media (min-width: @tablet-width) {
    margin-left: 5px;
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 36px;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    margin: 23px 0 25px 15px;
    align-self: center;
  }
}

.programs__description {
  margin: 0;
  margin-bottom: 16px;
  padding: 0 0 23px 0;
  .font(@Arial; normal; 400);
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid @special_gainsboro;

  @media (min-width: @tablet-width) {
    width: 61%;
    margin-left: 5px;
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    margin-left: 0;
    margin-top: 47px;
    padding-bottom: 0;
    justify-self: center;
  }
}

.programs__link {
  padding: 4px 0;
  position: relative;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: @basic_black;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    padding: 12px 4px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 12px 0;
    text-align: left;
  }
}

.programs__link::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 10px;
  top: 9px;
  right: -48px;
  background-image: url("../../img/index/icon/icon_arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-width: @tablet-width) {
    top: 21px;
    right: -55px;
  }

  @media (min-width: @desktop-width) {
    right: -61px;
  }
}

.programs__link:hover::after,
.programs__link:focus::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 10px;
  top: 9px;
  right: -48px;
  background-image: url("../../img/index/icon/icon_long-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-width: @tablet-width) {
    top: 21px;
    right: -55px;
  }

  @media (min-width: @desktop-width) {
    right: -61px;
  }
}

.programs__link:active {
  opacity: 0.3;
}
