.promo {
  min-height: 502px;
  background-image: url("../../img/index/promo_box.png");
  background-position: 50% 73%;
  background-repeat: no-repeat;

  &--green-theme {
    background-image:
      url("../../img/index/promo_box.png"),
      url("../../img/index/background_green.png"),
      url("../../img/index/promo_cat.png");
    background-position: 50% 73%, top center, top center;
    background-repeat: no-repeat, no-repeat, no-repeat;
  }
}

.promo__wrapper {
  width: 280px;
  height: 480px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.promo__title {
  margin: 25px 0 27px 0;
  font-family: @Oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: @basic_white;
}

.promo__slogan {
  margin: 0;
  margin-bottom: 302px;
  padding: 0;
  font-family: @Oswald;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: @basic_white;
}

.promo__button {
  text-align: center;
  justify-self: flex-end;
  font-family: @Oswald;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: @basic_white;
}
