.slider {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.slider__list {
  margin-bottom: 25px;
}

.slider__item {
  &--before {
    display: block;
  }

  &--after {
    display: none;
    margin: 0 32px 0 37px;
  }
}

.slider__img {
  object-fit: cover;
}

.slider__range {
  align-self: center;
}

.slider__span {
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
