.slider {
  width: 100%;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  @media (min-width: @desktop-width) {
    align-items: center;
  }
}

.slider--nojs .slider__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.slider__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 232px;
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    position: relative;
    display: block;
    width: 677px;
    height: 520px;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 35px;
  }
}

.slider--nojs .slider__item {
  @media (min-width: @tablet-width) {
    width: 50%;
  }
}

.slider__item {
  position: absolute;
  top: 0;
  height: 100%;
  overflow: hidden;

  @media (max-width: 767px) {
    display: none;
    position: static;
  }
}

.slider__item--before {
  @media (min-width: @tablet-width) {
    z-index: 1;
  }
}

.slider__img--before {
  @media (min-width: @tablet-width) {
    max-width: none;
  }
}

.slider__item--after {
  @media (min-width: @tablet-width) {
    right: 0;
  }
}

.slider__img--after {
  @media (min-width: @tablet-width) {
    position: absolute;
    max-width: none;
    height: 100%;
    top: 0;
    right: -25px;
  }
}

.slider__item--current {
  @media (max-width: @tablet-width) {
    display: initial;
  }
}

.slider__img {
  width: 280px;
  height: 232px;

  @media (min-width: @tablet-width) {
    width: 677px;
    height: 520px;
  }
}

.slider__range {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 196px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 590px;
    padding: 0 10px;
  }

  @media (min-width: @desktop-width) {
    width: 95%;
    padding: 0 10px 0 60px;
  }

  &--hide {
    display: none;
  }
}

.slider__button {
  margin: 0;
  padding: 0;
  .font(@Oswald; normal; 400);
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: @basic_black;
  background-color: inherit;
  border: none;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.24);
  }

  &:hover,
  &:focus {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  }

  &:active {
    border-bottom: none;
    margin-bottom: 1px;
  }
}

.slider__button--active {
  @media (min-width: @tablet-width) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  }
}

.slider__bar {
  width: 84px;
  padding: 3px 6px;
  box-sizing: border-box;
  @bg-basic-h: 0deg;
  @bg-basic-s: 0%;
  @bg-basic-l: 100%;
  @bg-basic: hsl(@bg-basic-h, @bg-basic-s, @bg-basic-l / @bg-basic-o);
  background-color: @bg-basic;
  @border-color: hsl(@border-color-h, @border-color-s, @border-color-l / @border-color-o);
  border: 1px solid @border-color;
  border-radius: 6px;

  @media (min-width: 768px) {
    position: relative;
    @bg-basic-l: 86%;
    border: none;
    width: 428px;
    height: 6px;
  }
}

.slider__thumb {
  touch-action: none;
  width: 35px;
  height: 6px;
  @bg-basic-h: 97deg;
  @bg-basic-s: 53%;
  @bg-basic-l: 47%;
  @bg-basic: hsl(@bg-basic-h, @bg-basic-s, @bg-basic-l / @bg-basic-o);
  background-color: @bg-basic;
  border-radius: 6px;

  @media (min-width: 768px) {
    width: 8px;
    height: 8px;
    @border-color-l: 100%;
    @border-color: hsl(@border-color-h, @border-color-s, @border-color-l / @border-color-o);
    border: 13px solid @border-color;
    border-radius: 50%;
    box-shadow: 0 0 0 1px hsl(0, 0%, 80%), 0 1px 3px hsla(0, 0%, 0%, 0.16);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: grab;

    &:hover {
      box-shadow: 0 0 0 1px hsl(0, 0%, 80%), 0 2px 4px hsla(0, 0%, 0%, 0.19);
    }

    &:active {
      cursor: grabbing;
      box-shadow: 0 0 0 1px hsl(97, 53%, 47%), 0 3px 5px hsla(0, 0%, 0%, 0.2);
    }
  }
}
