.social {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;

  @media (min-width: @tablet-width) {
    width: 60%;
    justify-content: space-between;
    padding: 0 0 5px 0;
  }

  @media (min-width: @desktop-width) {
    width: 50%;
    justify-content: flex-end;
  }
}

.social__item {
  @media (min-width: @desktop-width) {
    margin-left: 23px;
  }
}

.social__link--vkontakte .social__icon {
  @media (min-width: @tablet-width) {
    width: 30px;
    height: 22px;
  }
}

.social__link--instagram .social__icon {
  @media (min-width: @tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.social__link--facebook .social__icon {
  @media (min-width: @tablet-width) {
    width: 28px;
    height: 33px;
  }
}
