.work {
  min-height: 420px;

  @media (min-width: @tablet-width) {
    min-height: 778px;
    border-bottom: 1px solid @special_line;
  }

  @media (min-width: @desktop-width) {
    min-height: 397px;
    border-bottom: none;
  }
}

.work__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 15px 0 30px 0;
    width: 92%;
    max-width: 1326px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding: 0 110px;
  }
}

.work__title {
  margin: 27px 0 28px 0;
  .font(@Oswald; normal; 400);
  font-size: 36px;
  line-height: 40px;
  color: @basic_black;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.work__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 280px 280px;
    column-gap: 50px;
    row-gap: 38px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 280px;
  }
}

.work__item {
  position: relative;
  padding-left: 80px;

  &:not(:last-child) {
    margin-bottom: 5px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    top: 10px;
    left: 0;
    background-color: @basic_green;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--useful::before {
    background-image: url("../../img/index/icon/icon_leaf.svg");
  }

  &--water::before {
    background-image: url("../../img/index/icon/icon_tub.svg");
  }

  &--nutritious::before {
    background-image: url("../../img/index/icon/icon_eat.svg");
  }

  &--result::before {
    background-image: url("../../img/index/icon/icon_alarm.svg");
  }
}

.work__description {
  margin: 14px 0 8px;
  padding: 0;
  .font(@Arial; normal; 400);
  font-size: 14px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
